1 ICON "../img/stepcam.ico"

1 VERSIONINFO
 FILEVERSION 2,2,0,0
 PRODUCTVERSION 2,2,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "Dmitry Lavygin"
            VALUE "FileDescription", "Sprint-Layout PCB Export to G-code converter"
            VALUE "FileVersion", "2.2.0.0"
            VALUE "InternalName", "StepCAM"
            VALUE "LegalCopyright", "Copyright (c) 2024 Dmitry Lavygin"
            VALUE "OriginalFilename", "StepCAM.exe"
            VALUE "ProductName", "StepCAM"
            VALUE "ProductVersion", "2.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
